<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Find a home!</title>

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	
	<div class="top">
			<div class="row">
				<div class="col-md-5">			
					<ul class="follow">
						<li>Follow Us</li>
						<li><a href=""><img src="images/facebook.png" alt="" /></a></li>
						<li class="left"><a href=""><img src="images/twitter.png" alt="" /></a></li>
					</ul>
				</div>
				
				<div class="col-md-2 logo">
					<a href="index.html"><img src="images/logo.jpg" alt="" /></a>
				</div>
				<div class="col-md-5">
					<ul class="menu">
						<li><a href="index.html">Home</a></li>
						<li><a href="browse.html">Browse</a></li>
						<li><a href="offer.html">Sign Up</a></li>
						<li><a href="login2.html">Login2</a></li>
						<li><a href="#" onclick="document.getElementById('id01').style.display='block'">Login</a></li>
					</ul>
				</div>
			</div>
	</div>
	
	
	<div id="id01" class="modal"><div class="container login1">
  
	  <form class="modal-content animate form1" action="/action_page.php" method="post">
		<div class="imgcontainer">
		  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
		  <img src="images/admin.png" alt="Avatar" class="avatar">
		</div>

		<div class="container">
		  <label for="uname"><b>Username/Email</b></label>
		  <input type="text" placeholder="Enter your username or email" name="uname" required>

		  <label for="psw"><b>Password</b></label>
		  <input type="password" placeholder="Enter password" name="psw" required>
			
		  <button type="submit">Login</button>
		  <label>
			<input type="checkbox" checked="checked" name="remember"> Remember me
		  </label>
		</div>

		<div class="container" style="background-color:#f1f1f1">
		  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
		  <span class="psw">Forgot <a href="#">password?</a></span>
		  <span class="psw mr-3"><a href="#">New account</a></span>
		</div>
	</form>
	</div>
	</div>
	
	
	<div class="house">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
				<img src="images/casa1.jpg" alt="" class="img-fluid img-thumbnail mb-1"/>
				<ul class="list-group mb-3">
                    <li class="list-group-item">Name: Popescu Ion</li>
                    <li class="list-group-item">Phone number: XXXXXXXXXX</li>
                    <li class="list-group-item">Location: Malu Mare, Dolj</li>
                </ul>
				I am selling this house because I decided to live in the city. It is very nice, as it has 4 rooms and 2 bathrooms. Big garden also! Great for your pets, and a good yard to grow
				vegetables. AC for summer, heat generator with low consumption for the winter.<br/>
				More information and negociation by <strong>phone</strong>!
				</div>
				
				<div class="col-md-3 alert alert-info">
					<h3>Maramures</h3>
					<div class="MM mb-3">
						<img src="images/maramures.jpg" class="img img-fluid mb-3" alt="" />
						Situated in north-west Romania, at the border with Ukraine, Maramures is the place where the Romanian traditions and old art have been preserved unlike nowhere else.
						That's why the forte of Maramures is the rural area. The wood churces create the cultural space and it is the perfect region for your new home!
					</div>
					
					<div class="Oltenia mb-3">
						<h3>Oltenia</h3>
						<img src="images/oltenia.jpg" class="img img-fluid mb-3" alt="" />
						Situated in south-west Romania, Oltenia is a mostly rural region which has a hot, Mediteranean-like summer and a type of agriculture 
						for plants that love the sun, such as watermelons and grape vines.
					</div>
					
					<div class="Moldova mb-3">
						<h3>Moldova</h3>
						<img src="images/moldova.jpg" class="img img-fluid mb-3" alt="" />
						Moldova (SE Romania) is an important historical region. You can choose your new home here for religious motives or for the exceptional wines manufactured in the small businesses of Moldova's villages.
					</div>
					
					
				</div>
			</div>
		</div>
	</div>

	<div class="bottomTop mt-4"></div>


	<div class="tail">
		<div class="text1">
			<div class="row">
				<div class="col-md-9">
					<ul class="navigation strong">
						<li><a href="">Support</a></li>
						<li><a href="">Guide</a></li>
						<li><a href="">Terms of Service</a></li>
						<li><a href="">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="col-md-3 download">
					<p><a href=""><img src="images/download.png" alt="" /></a></p>
				</div>
			</div>
			<hr>
			
			<div class="row">
				<div class="col-md-9">
					<ul class="navigation supercell">
						<li><a href="">More information</a></li>
						<li><a href="">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 contact">
					<ul class="navigation">
						<li><a href=""><img src="images/facebook.png" alt="" /></a></li>
						<li class="left"><a href=""><img src="images/twitter.png" alt="" /></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	
	
	
	<script>
		var modal = document.getElementById('id01');
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
</body>
</html>