<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Find a buddy!</title>
	
	
	{% include "nav.html" %}
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>


	<div class="bigicon" style="padding:200px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 ">
					<a href="casa1.html"><img src="../static/images/casa1.jpg" alt="" class="img-fluid"/></a>
					<figcaption class="fig"><strong>Oltenia</strong></figcaption>
				</div>
				
				<div class="col-lg-6 paragraphsPrincipal">
					<p><h6><font color="#b5b5b5" size="2">May 7, 2020</font></h5></p>
					<p><h2><a href="casa1.html"><strong>Selling!</strong></a></h2></p>
					<p class="read"><font color="#5f635e"><br>Welcome! To begin, please login or sign up</font> <a class= "nav-link" href="/login">Login</a></p>
				</div>	
			</div>
		</div>
	
	
	</div>
	
	
	<div class="icon">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col1">
						<a href=""><img src="images/casa2.jpg" alt=""/></a>
						<figcaption class="figCol1"><strong>Muntenia</strong></figcaption>
						<p class="parCol"><font color="#b5b5b5" size="2">April 30, 2020</font>
						<br><font size="4"><strong>Hotelier regime<br></strong></font>
						<br><font class="contentColor">Close to a church, it's the best place to... </font></class><a href="">Read more</a>
						</p>
						
				</div>
				
				<div class="col-md-4 col2">
						<a href=""><img src="images/teren1.jpg" alt=""/></a>
						<figcaption class="figCol2"><strong>Apuseni - field for cereals</strong></figcaption>
						<p class="parCol"><font color="#b5b5b5" size="2">April 29, 2020</font>
						<br><font size="4"><strong>Selling house quick!<br></strong></font>
						<br><font class="contentColor">Fertile land, good for growing vegetables and fruits...</font> <a href="">Read more</a>
						
						</p>
						
				</div>
				
				<div class="col-md-4 col3">	
						<a href=""><img src="images/casa4.jpg" alt=""/></a>
						<figcaption class="figCol1"><strong>Maramures</strong></figcaption>
						<p class="parCol"><font color="#b5b5b5" size="2">April 27, 2020</font>
						<br><font size="4"><strong>Renting house<br></strong></font>
						<br><font class="contentColor">The perfect house for your perfect summer... </font><a href="">Read more</a>
						
						</p>
						
				</div>

				<a href="browse.html"><button type="button"><strong>View All</strong></button></a>
			</div>
		</div>
	</div>

	<div class="mt-4"></div>

	
</body>
</html>