<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Find a buddy!</title>
	
	
	{% include "nav.html" %}
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>


	<div class="bigicon" style="padding:50px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 ">
					<a href="casa1.html"><img src="../static/images/casa1.jpg" alt="" class="img-fluid"/></a>
					<figcaption class="fig"><strong>Make your experience the best possible!</strong></figcaption>
				</div>

				<div class="col-lg-6 paragraphsPrincipal">
					<p><h2><a href="casa1.html"><strong>Buddy/Buddy+</strong></a></h2></p>
					<p class="read"><font color="#5f635e"><br>Welcome to the newest app for student experiences!
						To begin, please login or sign up
						</font> <a class= "nav-link" href="/login">Login</a>
						<a class= "nav-link" href="/register">Sign up</a>
					</p>
				</div>
			</div>
		</div>


	</div>


	<div class="icon">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col1">
						<a href=""><img src="../static/images/casa2.jpg" alt=""/></a>
						<figcaption class="figCol1"><strong>Friends for a lifetime</strong></figcaption>
						<p class="parCol">
						<br><font size="4"><strong>Your buddy, your guide, your aide<br></strong></font>
						<br><font class="contentColor">Where is everything? A new city, culture and language can
							be confusing at first...</font></class>
						</p>

				</div>

				<div class="col-md-4 col2">
						<a href=""><img src="../static/images/teren1.jpg" alt=""/></a>
						<figcaption class="figCol2"><strong>Apuseni - field for cereals</strong></figcaption>
						<p class="parCol"><font color="#b5b5b5" size="2">April 29, 2020</font>
						<br><font size="4"><strong>Selling house quick!<br></strong></font>
						<br><font class="contentColor">Fertile land, good for growing vegetables and fruits...</font> <a href="">Read more</a>

						</p>

				</div>

				<div class="col-md-4 col3">
						<a href=""><img src="../static/images/casa4.jpg" alt=""/></a>
						<figcaption class="figCol1"><strong>Maramures</strong></figcaption>
						<p class="parCol"><font color="#b5b5b5" size="2">April 27, 2020</font>
						<br><font size="4"><strong>Renting house<br></strong></font>
						<br><font class="contentColor">The perfect house for your perfect summer... </font><a href="">Read more</a>
						
						</p>
						
				</div>

				<a href="browse.html"><button type="button"><strong>View All</strong></button></a>
			</div>
		</div>
	</div>

	<div class="mt-4"></div>

	
</body>
</html>