{% extends "base.html" %}
{% include "nav2.html" %}
{% block content %}

<br>
<br>

<h1>Get started!</h1>
<h5>Meet local people and enjoy new cultural experiences!</h5>


<br>

<a href="/search_view" class="btn btn-outline-secondary" role="button" aria-pressed="true">Search for a Buddy!</a>
<br>
<br>

<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4 mb-lg-0">
    <figure>
      <img src="../static/images/landing1.jpg" alt=""
      class="w-100 shadow-1-strong rounded mb-4"
    />
      <figcaption><strong> Language exchange</strong></figcaption>
				  <p class="mt-1">You can practice or even learn a new language with the help of your new international friends!</p>
			  </figure>

  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <figure>
      <img src="../static/images/landing2.jpg" alt=""
      class="w-100 shadow-1-strong rounded mb-4"
    />
      <figcaption><strong>Hidden gems</strong></figcaption>
				  <p class="mt-1">How can you find the best places to visit if not with the help of a local?</p>
			  </figure>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <figure>
      <img src="../static/images/landing3.jpg" alt=""
      class="w-100 shadow-1-strong rounded mb-4"
    />
      <figcaption><strong>International experience</strong></figcaption>
				  <p class="mt-1">Have the opportunity to study in an international environment and gain intercultural competencies!</p>
			  </figure>
  </div>
</div>

{% endblock %}
</body>
</html>