
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>{%  block title %}{% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/bootstrap.css">
<style>
.btn {
    font-size: 15px;
    font-weight: bold;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class= "nav-link" href="/homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class= "nav-link" href="/modify_information">My Profile</a>
      </li>
      <li class="nav-item">
        <a class= "nav-link" href="/logout">Log Out</a>
      </li>
      <li class="nav-item">
        <a class= "nav-link" href="/register"> Help Center </a>
      </li>
      <li class="nav-item">

      </li>
    </ul>
  </div>
</nav>
    </head>
<body>
{% block content %}
<h1>Welcome to Buddy+!</h1>


<a href="/search_view" class="btn btn-outline-secondary" role="button" aria-pressed="true">Search for a Buddy!</a>

<p>Click <a href="/modify_information">here</a> to modify your information!</p>


{% endblock %}
</body>
</html>