{% extends "base.html" %}
{% include "nav2.html" %}

{% block content %}

<h2>Modify your information</h2>
<br>
<h5>Please fill out all the fields accordingly even when updating only one of them!</h5>
<br>
<br>

<div class="row">
    <form method="post" action="/modify_information">

    {{ mod_info.csrf_token() }}

    {% for field in mod_info if field.name != "csrf_token" %}

     <p class="lead">{{ field.label() }}</p>
    <p>{{ field }} </p>
    
    {% endfor %}
    
    
    <br>
    <input class="btn btn-outline-secondary" type="submit" value="Submit">
    {% for field, errors in mod_info.errors.items() %}
    <div>
        <p>{{ mod_info[field].label }}: {{ ', '.join(errors) }}</p>
    </div>
    {% endfor %}

</form>
</div>

{% endblock %}
