<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">

<title>{%  block title %}{% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/bootstrap.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class= "nav-link" href="/homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class= "nav-link" href="/modify_information">My Profile</a>
      </li>
      <li class="nav-item">
        <a class= "nav-link" href="/logout">Log Out</a>
      </li>
      <li class="nav-item">
        <a class= "nav-link" href="/register"> Help Center </a>
      </li>
      <li class="nav-item">

      </li>
    </ul>
  </div>
</nav>
</head>
<body>
{% block content %}

<h1>Modify your information if necessary.</h1>
<br>
<h2>Please fill out all the fields accordingly even when updating only one of them!</h2>
<br>
<h3>Submit when you are done.</h3>



<br>

<form method="post" action="/modify_information">

    {{ mod_info.csrf_token() }}

    {% for field in mod_info if field.name != "csrf_token" %}

    <p>{{ field.label() }}</p>
    <p>{{ field }} </p>
    
    {% endfor %}
    
    
    <br>
    <input type="submit" value="Submit">
    {% for field, errors in mod_info.errors.items() %}
    <div>
        <p>{{ mod_info[field].label }}: {{ ', '.join(errors) }}</p>
    </div>
    {% endfor %}

</form>
{% endblock %}
</body>
</html>
