{% extends "base.html" %}
{% include "nav.html" %}
{% block content %}



<h2 class="row">Welcome to the registration service!</h2>
<h5 class="row">
    You're very close to being able to enjoy the newest buddy-system app!
    <br>Complete this form in order to find your matching buddy!
</h5>

<p class="row">Already have an account? Proceed to <a href="/login"> login </a></p>

<br>

<div class="row">
    <form method="post" action="{{ url_for('register') }}">

        {{ form.csrf_token() }}

        {% for field in form if field.name != "csrf_token" %}
            <p class="lead">{{ field.label() }}
            {{ field }} </p>
        {% endfor %}


        <br>
        <input class="btn btn-outline-secondary" type="submit" value="Submit" style="margin-bottom:50px;">
        {% for field, errors in form.errors.items() %}
        <div>
            <p>{{ form[field].label }}: {{ ', '.join(errors) }}</p>
        </div>
        {% endfor %}

    </form>
</div>
{% endblock %}