{% extends "base.html" %}
{% include "nav2.html" %}
{% block content %}
<br>

<h2>Search for a Buddy!</h2>
<h5>Select your preferences and find a buddy with similar interests!</h5>


<br>
<div class="row">
    <form method="post" action="/search_view">

    {{ form.csrf_token() }}

    {% for field in form if field.name != "csrf_token" %}

     <p class="lead">{{ field.label() }}</p>
    <p>{{ field }} </p>

    
    {% endfor %}
    
    
    <br>
    <input class="btn btn-outline-secondary" type="submit" value="Submit">
    {% for field, errors in form.errors.items() %}
    <div>
        <p>{{ form[field].label }}: {{ ', '.join(errors) }}</p>
    </div>
    {% endfor %}

</form>
    </div>
<br>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4 mb-lg-0">
    <img src="../static/images/museum.jpg" alt=""
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">

    <img src="../static/images/photography.jpg" alt=""
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
   <img src="../static/images/music.jpg" alt=""
      class="w-100 shadow-1-strong rounded mb-4"
    />


  </div>
</div>
{% endblock %}
